@{
    //Layout = "~/Views/Home/About.cshtml";
    Layout = null;
    var national_Characters = ViewBag.national_Characters;
    /*@for (int i = 0; i < national_Characters.Count; i++)
{
    //<option value="@national_Characters[i].Unicode" @Html.Raw(Model.city == national_Characters[i].Unicode ? "selected" : "")>@national_Characters[i].CityName</option>
    <span style="color:red">@national_Characters[i].Unicode</span>
    <span style="color:red">@national_Characters[i].Character</span>
}*/
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="container">
    <div class="frame">
        <div class="Center">
            請輸入 Unicode 代碼
            <input id="Unicode_Input" type="text" name="Unicode" value="">
            <span class="Example">例子:<b>4E00</b></span>
        </div>
        <img src="" class="CharacterPicture">
        <br>
        <br>
        <table class="table table-bordered">
            <tr id="Character">
            </tr>
        </table>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
   // console.log(webpages:Version);
    const ArrayString = 
        {
            Unicode: "Unicode",
            BIG_5: "BIG_5",
            CNS: "CNS",
            EUC: "EUC",
            Integer: "整數",
            Character: "國字",
            Phonetic: "注音",
            Radical: "部首",
            Strokes_Total: "總筆畫",
            Strokes_Radical: "部首外",
        }

    $("#Unicode_Input").bind("input propertychange",function (event) {
        var value = $("#Unicode_Input").val();
        if (value.length == 4) {
            //console.log(value);
            $.ajax({
                type: "Post",
                url: "../Home/NationalCharacter?Unicode=0x" + value,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#Character").empty();

                    if (data != "") {
                        var jo = JSON.parse(data);
                        for (var key in jo) {
                            if (jo[key] != "") {
                                $("#Character").append("<div class= col4 ><div><b>" + ArrayString[key] + "</b><span>" + jo[key] + "</span></div></div>");
                            }
                        }
                        $("img.CharacterPicture").attr("src", "/image/EUC/" + jo.Unicode + ".png");
                        $("img.CharacterPicture").show();
                    }
                },
                failure: function (errMsg) {
                    $("#Character").empty();
                    $("img.CharacterPicture").attr("src", "");
                    $("img.CharacterPicture").hide();
                }
            })
        } else {
            $("#Character").empty();
            $("img.CharacterPicture").attr("src", "");
            $("img.CharacterPicture").hide();
        }
    });

    $(document).ready(function () {
        $("#Unicode_Input").on("focus", function () {
            $(".Example").toggle();
        }).on("blur", function () {
            $(".Example").toggle();
        });
    });
</script>